<p style="font-size: 35px; font-weight: bold; text-align: center;">IYKRA Foundation of Programming Exercise</p>

**Name** : M. Haries Ramdhani
<br/>
**Date** : Oct 23rd 2019

### Data Import and Preparation

In [1]:
# Import the essentials
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 1000)

In [2]:
# Import the data
imdb = pd.read_csv("IMDB-database-update.csv", encoding='latin1')

In [3]:
# Count the missing values
pd.DataFrame(imdb.isnull().sum()).rename(columns={0: "total_missing_values"})

                           total_missing_values
movie_ID                                      0
movie_title                                   0
duration                                      0
color                                         0
title_year                                    0
country                                       0
language                                      0
content_rating                                0
budget_USD                                    0
gross_USD                                     0
net_USD                                       0
profitable                                    0
director_name                                 0
director_top20?                               0
director_facebook?                            0
director_facebook_likes                       0
actor_1_name                                  0
actor_top20?                                  0
actor_1_facebook?                             0
actor_1_facebook_likes                        0
actor_2_name                                  0
actor_top20?.1                                0
actor_2_facebook?                             0
actor_2_facebook_likes                        0
actor_3_name                                  0
actor_top20?.2                                0
actor_3_facebook?                             0
actor_3_facebook_likes                        0
cast_total_facebook_likes                     0
movie_facebook?                               0
movie_facebook_likes;                         0
facenumber_in_poster                          0
num_voted_users                               0
num_user_for_reviews                          0
imdb_score                                    0
imdb_top_250                                  0

In [4]:
def format_to_currency(amount : int) -> str:
    """
    Format the amount of money to the standadized
    comma-ed string
    
    INPUT
    -------------------
    amount: The amount of money
    
    RETURN
    -------------------
    formatted_amount: comma separated amount of money
    
    EXAMPLE
    -------------------
    >>> format_to_currency(12000000)
    '12,000,000'
    """
    
    formatted_amount = format(amount, ',d')
    
    return formatted_amount

**1\. How many rows and columns reflected on dataset file IMDB-database-update.csv?**

In [5]:
# Count the number of rows and columns
data_shape = imdb.shape
print(f"There are {data_shape[0]} rows and {data_shape[1]} columns in the dataset before the duplicates are dropped")

There are 3781 rows and 36 columns in the dataset before the duplicates are dropped

In [6]:
# Drop the number of duplicated data based on the `movie_ID` and keep the first one
imdb = imdb.drop_duplicates("movie_title", keep="first")

In [7]:
# Count the number of rows and columns
data_shape = imdb.shape
print(f"There are {data_shape[0]} rows and {data_shape[1]} columns in the dataset after the duplicates are dropped")

There are 3679 rows and 36 columns in the dataset after the duplicates are dropped

**2\. What are the top 3 movies with highest nett profit in 2015?**

In [8]:
top_3_movie_titles_2015 = imdb[imdb["title_year"] == 2015].sort_values(by="net_USD", ascending=False).iloc[:3,[1, 10]].reset_index(drop=True)

In [9]:
print("The Top 3 Movie Titles with the highest nett profit in 2015 are")

i = 1
for top_3_movie_title in top_3_movie_titles_2015.values:
    print(f"{i}. {top_3_movie_title[0]} with net profit of {format_to_currency(top_3_movie_title[1])} USD")
    i += 1

The Top 3 Movie Titles with the highest nett profit in 2015 are
1. Jurassic World with net profit of 502,177,271 USD
2. Minions with net profit of 262,029,560 USD
3. Avengers: Age of Ultron with net profit of 208,991,599 USD

In [10]:
top_3_movie_titles_2015

               movie_title    net_USD
0           Jurassic World  502177271
1                  Minions  262029560
2  Avengers: Age of Ultron  208991599

**3\. What are the top 3 movies with highest gross profit in 2016?**

In [11]:
top_3_movie_titles_2016 = imdb[imdb["title_year"] == 2016].sort_values(by="net_USD", ascending=False).iloc[:3,[1, 10]].reset_index(drop=True)

In [12]:
print("The Top 3 Movie Titles with the highest nett profit in 2016 are")

i = 1
for top_3_movie_title in top_3_movie_titles_2016.values:
    print(f"{i}. {top_3_movie_title[0]} with net profit of {format_to_currency(top_3_movie_title[1])} USD")
    i += 1

The Top 3 Movie Titles with the highest nett profit in 2016 are
1. Deadpool with net profit of 305,024,263 USD
2. The Secret Life of Pets with net profit of 248,505,540 USD
3. The Jungle Book with net profit of 187,645,141 USD

In [13]:
top_3_movie_titles_2016

               movie_title    net_USD
0                 Deadpool  305024263
1  The Secret Life of Pets  248505540
2          The Jungle Book  187645141

**4\. How many non-english movies are in the dataset? **

In [14]:
# Count the number total non English movis in the data set
total_non_english_movies = imdb[imdb["language"] != "English"].shape[0]

In [15]:
print(f"There are {total_non_english_movies} non-English movies in the data set")

There are 152 non-English movies in the data set

**5\. What are top 3 languages in the data set aside English (based on number of movies)? **

In [16]:
top_3_languages_non_english = imdb[imdb["language"] != "English"]["language"].value_counts().head(3)

In [17]:
print("The Top 3 languages with the highest no of movies are")
pd.DataFrame(top_3_languages_non_english).rename(columns={"language": "total_movies"})

The Top 3 languages with the highest no of movies are

          total_movies
French              33
Spanish             23
Mandarin            13

**6\. What are the top 3 countries with the highest nett profit in all dataset times?**

In [18]:
print("The Top 3 countries with the highest nett profit are")
top_3_countries = imdb.groupby("country").sum().sort_values(by="net_USD", ascending=False)[["net_USD"]].head(3)

The Top 3 countries with the highest nett profit are

**7\. What are the average budget of all movies in dataset in 2015?**

In [19]:
average_budget_2015 = imdb[imdb["title_year"] == 2015]["budget_USD"].mean()

In [20]:
print(f"The average budget of all movies in dataset in 2015 is {format_to_currency(round(average_budget_2015))} USD")

The average budget of all movies in dataset in 2015 is 52,102,458 USD

**8\. What are the average budget of all movies in dataset in 2016?**

In [21]:
average_budget_2016 = imdb[imdb["title_year"] == 2016]["budget_USD"].mean()

In [22]:
print(f"The average budget of all movies in dataset in 2016 is {format_to_currency(round(average_budget_2016))} USD")

The average budget of all movies in dataset in 2016 is 66,014,754 USD

**9\. Which one is higher, average budget of all movies in dataset in 2015 or 2016?**

In [23]:
highest_average_budget = "2015" if average_budget_2015 > average_budget_2016 else "2016"
average_budget_difference = round(abs(average_budget_2016 - average_budget_2015))

print(f"The highest average budget of all movies in dataset is in the year of {highest_average_budget}")
print(f"They differ by a value of {format_to_currency(average_budget_difference)} USD")

The highest average budget of all movies in dataset is in the year of 2016
They differ by a value of 13,912,296 USD

**10\. What movie that resulted highest nett profit of all dataset times? How much did the movie make?**

In [24]:
highest_nett_profited_movie = imdb.sort_values(by="net_USD", ascending=False).head(1)[["movie_title", "net_USD"]]

In [25]:
print("Movie with the highest nett profit and how much did the movie make")
highest_nett_profited_movie

Movie with the highest nett profit and how much did the movie make

  movie_title    net_USD
0      Avatar  523505847

In [26]:
movie_title, net_profit = highest_nett_profited_movie.values[0]

In [27]:
print(f"The movie {movie_title} is the movie with the highest profit in the dataset and made net profit of {format_to_currency(net_profit)} USD")

The movie Avatar is the movie with the highest profit in the dataset and made net profit of 523,505,847 USD